# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android/IntelliJ/Studio
.android/
.gradle/
local.properties
*.iml
.idea/
*.ipr
*.iws

# Xcode/macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods/

# Visual Studio Code
.vscode/

# Windows build
windows/flutter/ephemeral/
windows/runner/Release/

# Misc
*.log
.DS_Store
